.home-body {
    background: #008081;
}

.body-wrap {
    position: relative;
}

.my-computer {
    width: 75px;
    margin-left: 25px;
}

.home-icon-text {
    width: 150px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    margin-top: 0;
}

.footer-start-button {
    background: #c4c4c4;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    margin-top: 5px;
    height: 25px;
    border-right: 3px solid #828282;
    border-bottom: 3px solid #828282;
    border-left: 3px solid white;
    border-top: 3px solid white;
}

.footer-start-button:hover {
    background: #8a8989;
}

.footer-search {
    display: inline-block;
    vertical-align: middle;
}

input.welcome-search {
    background:
        radial-gradient(silver 5%, transparent 16%) 0 0,
        radial-gradient(silver 5%, transparent 16%) 3px 2px,
        radial-gradient(rgba(255,255,255,.1) 7%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 8%) 4px 4px;
        background-color: #dbdbdb;
        background-size:3px 3px;
    display: inline-block;
    padding: 15px;
    margin: 10px;
    margin-top: 0px;
    margin-left: -7px;
    font-weight: bold;
    font-size: 20px;
    height: 41px;
    border-left: 3px solid #8f9090;
    border-top: 3px solid #8f9090;
    width: 250px;
    padding-left: 5px;
}

.footer-clock {
    display: inline-block;
    float: right;
    margin-right: 10px;
    width: 100px;
    text-align: center;
    background: #c1bfc2;
    border-left: 3px solid #9f9f9f;
    border-top: 3px solid #9f9f9f;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    padding: 5px;
    margin: 10px;
    margin-top: 5px;
    height: 25px;
}

#time {
    display: inline;
    vertical-align: sub;
}

.start-text {
    color: black;
    display: inline-block;
    padding: 0px 5px 5px 0px;
    margin-left: 5px;
    vertical-align: middle;
    font-size: 18px;
    height: 100%;
    font-weight: bold;
}

.windows-start-icon {
    width: 25px;
    display: inline-block;
}

.footer-start {
    display: inline;
}

footer {
    border: 2px solid #ccdada;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background: silver;
    margin-left: -.5rem;
}