.home-body {
    background: #008081;
}

.footer-start-button {
    background: #c4c4c4;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    margin-top: 5px;
    height: 25px;
    border-right: 3px solid #828282;
    border-bottom: 3px solid #828282;
    border-left: 3px solid white;
    border-top: 3px solid white;
}

.footer-start-button:hover {
    background: #8a8989;
}

.footer-search {
    display: inline-block;
    vertical-align: middle;
}

input.welcome-search {
    background: #c4c4c4;
    display: inline-block;
    padding: 15px;
    margin: 10px;
    vertical-align: middle;
    margin-top: 0px;
    margin-left: -2px;
    height: 40px;
    border-right: 3px solid #828282;
    border-bottom: 3px solid #828282;
    border-left: 3px solid white;
    border-top: 3px solid white;
}

.start-text {
    color: black;
    display: inline-block;
    padding: 0px 5px 5px 0px;
    margin-left: 5px;
    vertical-align: middle;
    font-size: 18px;
    height: 100%;
}

.windows-start-icon {
    width: 25px;
    display: inline-block;
}

.footer-start {
    display: inline;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background: silver;
    margin-left: -.5rem;
}